
<!doctype html>
<html>
  <head>
    <title>GYO</title>

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='graph.js') }}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
      <h1>GYO Dashboard</h1>
      <br>
      <h3>A place to monitor the temperature and humidity of your apartment</h3>
      <br>
      <div class="btn-group row">
        <button type="button" class="btn btn-primary">30 Mins</button>
        <button type="button" class="btn btn-primary">1 Hr</button>
        <button type="button" class="btn btn-primary">12 Hrs</button>
        <button type="button" class="btn btn-primary">1 Day</button>
        <!-- <button type="button" class="btn btn-primary">1 Week</button> -->
      </div>
      <canvas id="myChart" width="400" height="300"></canvas>
    </div>
  </body>
</html>